@using System.Web.Optimization

@{
    ViewBag.Title = "_Comanda";
    Layout = null;
}

<head>
    <title>Logen</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- CSS -->
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/LoginCss")

    <!-- JS -->
    <script src="~/Content/Style/js/modernizr.js"></script>
    <script src="~/Content/Style/js/jquery-1.11.0.min.js"></script>
    <script src="~/Content/Style/js/plugins.js"></script>
    <script src="~/Content/Style/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Style/js/script.js"></script>

</head>

<body>
    <div class="login-container">
        <h2>Login</h2>
        <!-- introducerea login si password -->
        @using(Html.BeginForm("Login", "Login", FormMethod.Post)) {
            <input type="text" name="Denumire" placeholder="Denumire" required />
            <input type="password" name="Tip" placeholder="Tip" required />
            <button type="submit">Submit</button>

        }

        <!-- La registrare -->
        <form action="@Url.Action("Register", "Login")" method="get">
            <button type="submit">Crearea comenzii</button>
        </form>


        <!-- Inapoi (Home) -->
        <form action="@Url.Action("Index", "Home")" method="get">
            <button type="submit">Back</button>
        </form>
    </div>
</body>

