<div id="footer-bottom">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-md-4 col-sm-6">
                <div class="Shipping d-flex">
                    <p>We ship with:</p>
                    <div class="card-wrap ps-2">
                        <img src="~/Content/Style/images/visa.jpg" alt="visa">
                        <img src="~/Content/Style/images/mastercard.jpg" alt="mastercard">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="payment-method d-flex">
                    <p>Payment options:</p>
                    <div class="card-wrap ps-2">
                        <img src="~/Content/Style/images/visa.jpg" alt="visa">
                        <img src="~/Content/Style/images/mastercard.jpg" alt="mastercard">
                        <img src="~/Content/Style/images/paypal.jpg" alt="paypal">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="copyright">
                    <p>
                        © Copyright 2025 Electroland. Make the future
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>