<section id="latest-blog" class="padding-large">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">Posturi recente</h2>
                <div class="btn-right">
                </div>
            </div>
            <div class="post-grid d-flex flex-wrap justify-content-between">
                <div class="col-lg-4 col-sm-12">
                    <div class="card border-none me-3">
                        <div class="card-image">
                            <img src="~/Content/Style/images/post-item3.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="card-body text-uppercase">
                        <div class="card-meta text-muted">
                            <span class="meta-date">Feb 22, 2025</span>
                            <span class="meta-category">- Gadgete</span>
                        </div>
                        <h3 class="card-title">
                            <a href="#">Gadgete din trecut</a>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card border-none me-3">
                        <div class="card-image">
                            <img src="~/Content/Style/images/post-item2.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="card-body text-uppercase">
                        <div class="card-meta text-muted">
                            <span class="meta-date">Iunie 25, 2025</span>
                            <span class="meta-category">- Tehnologii</span>
                        </div>
                        <h3 class="card-title">
                            <a href="#">Tehnologii avansate</a>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card border-none me-3">
                        <div class="card-image">
                            <img src="~/Content/Style/images/post-item1.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="card-body text-uppercase">
                        <div class="card-meta text-muted">
                            <span class="meta-date">Iulie 30, 2023</span>
                            <span class="meta-category">- Game</span>
                        </div>
                        <h3 class="card-title">
                            <a href="#">Top 10 consoale din 2025</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

